// colors
$navbarBackground: rgb(0, 0, 0);
$primaryFontColor: rgb(0, 0, 0);
$secondaryFontColor: rgb(255, 255, 255);


// width & height
$minWidth: 750px;

$cursor: pointer;

// Auth => login and signup
.auth {
  height: 100vh;
  display: flex;
  justify-content: center;

  .authFormContainer {
      display: flex;
      flex-direction: column;

      .authForm {
          width: 300px;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 9.5px rgba(0, 0, 0, 0.035), 0px 0px 76px rgba(0, 0, 0, 0.07);      
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        .authRedirectToSignUp {
            font-size: 12px;
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }

        .authBtn {
            margin-top: 10px;
        }

        .authInputDiv {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            input {
                margin-top: 5px;
                border: 0.5px solid black;
                border-radius: 5px;
                height: 25px;
            }
        }
      }
  }
}


